In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
## Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
# Drop Irrelevant Columns
data.drop(['RowNumber','CustomerId','Surname'], axis=1,inplace=True)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

## Feature Engineering

In [4]:
# Encode categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
## OneHotEncode 'Geography' column as we use ANN here. Making spare False
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [7]:
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [8]:
# Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [10]:
## Split the data into training and testing sets
X_train, X_test, y_train,  y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
## Save the encoders and Standard Scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)

# Save scaler file in pickle file
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [14]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [15]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [16]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

## ANN Regression Problem Statement- Predict Slary

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), # HL1 connected with Input Layer so give input size/columns
    Dense(32,activation='relu'), # HL2
    Dense(1) # Output layer for regression. It's default
])

WARNING:tensorflow:From f:\ML_project\udemy_ml_course\dl_projects\ann_bankChurn\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
## compile the model
## loss function is different in regression than that of classification

model.compile(optimizer='adam', loss='mean_absolute_error',metrics=['mae'])
model.summary()

WARNING:tensorflow:From f:\ML_project\udemy_ml_course\dl_projects\ann_bankChurn\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

## Create log directory for storing logs
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

## Setup the TensorBoard- Tensorflow callback
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [21]:
## Setup Early Stopping- As we need to pick epoch till when the model perform optimum i.e. when loss is not decreasing
# Parameters used here- patience is epoch like wait till 5 epochs, restore best weights within those epoch. Early stopping Callback
early_stopping_callback=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [22]:
### Train the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From f:\ML_project\udemy_ml_course\dl_projects\ann_bankChurn\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From f:\ML_project\udemy_ml_course\dl_projects\ann_bankChurn\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 7s 13ms/step - loss: 100369.6328 - mae: 100369.6328 - val_loss: 98490.2266 - val_mae: 98490.2266
Epoch 2/100
250/250 [==============================] - 2s 8ms/step - loss: 99544.4062 - mae: 99544.4062 - val_loss: 96834.7031 - val_mae: 96834.7031
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 96678.4219 - mae: 96678.4219 - val_loss: 92652.7812 - val_mae: 92652.7812
Epoch 4/100
250/250 [==============================] - 2s 7ms/step - loss: 91086.6641 - mae: 91086.6641 - val_loss: 85722.7969 - val_mae: 85722.7969
Epoch 5/100
250/250 [==============================] - 2s 6ms/step - loss: 83001.4844 - mae: 83001.4844 - val_loss: 76907.4531 - val_mae: 76907.4531
Epoch 6/100
250/250 [==============================] - 2s 9ms/step - loss: 73701.9922 - mae: 73701.9922 - val_loss: 67960.0078 - val_mae: 67960.0078
Epoch 7/100
250/250 [==============================] - 2s 6ms/step - loss: 64821.5781 - mae: 64821.5781 - val_loss: 60242.4023 - val_mae: 60242.4023
Epoch 8/100
250/250 [==============================] - 2s 6ms/step - loss: 57969.9336 - mae: 57969.9336 - val_loss: 55094.6211 - val_mae: 55094.6211
Epoch 9/100
250/250 [==============================] - 2s 8ms/step - loss: 53740.5078 - mae: 53740.5078 - val_loss: 52386.2031 - val_mae: 52386.2031
Epoch 10/100
250/250 [==============================] - 2s 7ms/step - loss: 51626.3906 - mae: 51626.3906 - val_loss: 51288.8633 - val_mae: 51288.8633
Epoch 11/100
250/250 [==============================] - 2s 8ms/step - loss: 50797.1836 - mae: 50797.1836 - val_loss: 50997.2070 - val_mae: 50997.2070
Epoch 12/100
250/250 [==============================] - 2s 9ms/step - loss: 50491.6367 - mae: 50491.6367 - val_loss: 50892.4375 - val_mae: 50892.4375
Epoch 13/100
250/250 [==============================] - 1s 6ms/step - loss: 50354.0469 - mae: 50354.0469 - val_loss: 50831.7773 - val_mae: 50831.7773
Epoch 14/100
250/250 [==============================] - 2s 6ms/step - loss: 50268.2188 - mae: 50268.2188 - val_loss: 50777.5273 - val_mae: 50777.5273
Epoch 15/100
250/250 [==============================] - 2s 6ms/step - loss: 50198.6719 - mae: 50198.6719 - val_loss: 50725.5078 - val_mae: 50725.5078
Epoch 16/100
250/250 [==============================] - 2s 7ms/step - loss: 50140.5234 - mae: 50140.5234 - val_loss: 50676.3984 - val_mae: 50676.3984
Epoch 17/100
250/250 [==============================] - 2s 8ms/step - loss: 50085.9609 - mae: 50085.9609 - val_loss: 50635.4922 - val_mae: 50635.4922
Epoch 18/100
250/250 [==============================] - 2s 7ms/step - loss: 50043.9336 - mae: 50043.9336 - val_loss: 50601.6602 - val_mae: 50601.6602
Epoch 19/100
250/250 [==============================] - 2s 6ms/step - loss: 50001.2930 - mae: 50001.2930 - val_loss: 50570.4336 - val_mae: 50570.4336
Epoch 20/100
250/250 [==============================] - 2s 9ms/step - loss: 49966.3438 - mae: 49966.3438 - val_loss: 50531.3828 - val_mae: 50531.3828
Epoch 21/100
250/250 [==============================] - 2s 7ms/step - loss: 49934.9141 - mae: 49934.9141 - val_loss: 50497.6680 - val_mae: 50497.6680
Epoch 22/100
250/250 [==============================] - 2s 7ms/step - loss: 49903.8320 - mae: 49903.8320 - val_loss: 50479.9766 - val_mae: 50479.9766
Epoch 23/100
250/250 [==============================] - 1s 6ms/step - loss: 49876.8789 - mae: 49876.8789 - val_loss: 50459.9609 - val_mae: 50459.9609
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49852.4648 - mae: 49852.4648 - val_loss: 50439.5195 - val_mae: 50439.5195
Epoch 25/100
250/250 [==============================] - 1s 6ms/step - loss: 49827.9922 - mae: 49827.9922 - val_loss: 50419.3555 - val_mae: 50419.3555
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49807.4961 - mae: 49807.4961 - val_loss: 50386.7773 - val_mae: 50386.7773
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 49789.7617 - mae: 49789.7617 - val_loss: 50368.0117 - val_mae: 50368.0117
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49772.5352 - mae: 49772.5352 - val_loss: 50359.8438 - val_mae: 50359.8438
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49749.9961 - mae: 49749.9961 - val_loss: 50339.3633 - val_mae: 50339.3633
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49732.8320 - mae: 49732.8320 - val_loss: 50331.2422 - val_mae: 50331.2422
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49716.8789 - mae: 49716.8789 - val_loss: 50312.0586 - val_mae: 50312.0586
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49706.1641 - mae: 49706.1641 - val_loss: 50305.7656 - val_mae: 50305.7656
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 49693.1445 - mae: 49693.1445 - val_loss: 50285.6758 - val_mae: 50285.6758
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 49677.2461 - mae: 49677.2461 - val_loss: 50273.5977 - val_mae: 50273.5977
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49663.4883 - mae: 49663.4883 - val_loss: 50271.9453 - val_mae: 50271.9453
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 49655.9297 - mae: 49655.9297 - val_loss: 50264.3633 - val_mae: 50264.3633
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49636.7148 - mae: 49636.7148 - val_loss: 50254.0039 - val_mae: 50254.0039
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49630.3398 - mae: 49630.3398 - val_loss: 50243.5117 - val_mae: 50243.5117
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 49622.0781 - mae: 49622.0781 - val_loss: 50242.2109 - val_mae: 50242.2109
Epoch 40/100
250/250 [==============================] - 1s 6ms/step - loss: 49607.3281 - mae: 49607.3281 - val_loss: 50242.4570 - val_mae: 50242.4570
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 49598.1328 - mae: 49598.1328 - val_loss: 50236.3477 - val_mae: 50236.3477
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49586.6211 - mae: 49586.6211 - val_loss: 50228.5352 - val_mae: 50228.5352
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 49578.6875 - mae: 49578.6875 - val_loss: 50220.7695 - val_mae: 50220.7695
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49571.9492 - mae: 49571.9492 - val_loss: 50228.0430 - val_mae: 50228.0430
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49564.6484 - mae: 49564.6484 - val_loss: 50223.5977 - val_mae: 50223.5977
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49556.9648 - mae: 49556.9648 - val_loss: 50214.8711 - val_mae: 50214.8711
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49547.6875 - mae: 49547.6875 - val_loss: 50216.7422 - val_mae: 50216.7422
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49542.8789 - mae: 49542.8789 - val_loss: 50214.6094 - val_mae: 50214.6094
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49534.1641 - mae: 49534.1641 - val_loss: 50221.7188 - val_mae: 50221.7188
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49528.0898 - mae: 49528.0898 - val_loss: 50223.9570 - val_mae: 50223.9570
Epoch 51/100
250/250 [==============================] - 1s 6ms/step - loss: 49522.9961 - mae: 49522.9961 - val_loss: 50211.4922 - val_mae: 50211.4922
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 49515.6094 - mae: 49515.6094 - val_loss: 50207.4492 - val_mae: 50207.4492
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49508.7383 - mae: 49508.7383 - val_loss: 50213.1992 - val_mae: 50213.1992
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49503.3320 - mae: 49503.3320 - val_loss: 50220.9531 - val_mae: 50220.9531
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49495.6445 - mae: 49495.6445 - val_loss: 50222.5352 - val_mae: 50222.5352
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49491.7617 - mae: 49491.7617 - val_loss: 50209.1562 - val_mae: 50209.1562
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 49487.6992 - mae: 49487.6992 - val_loss: 50220.3906 - val_mae: 50220.3906
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 49481.5117 - mae: 49481.5117 - val_loss: 50204.6641 - val_mae: 50204.6641
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 49477.1992 - mae: 49477.1992 - val_loss: 50213.9492 - val_mae: 50213.9492
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 49470.3438 - mae: 49470.3438 - val_loss: 50220.7539 - val_mae: 50220.7539
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 49465.3477 - mae: 49465.3477 - val_loss: 50225.6094 - val_mae: 50225.6094
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49462.3828 - mae: 49462.3828 - val_loss: 50220.9258 - val_mae: 50220.9258
Epoch 63/100
250/250 [==============================] - 1s 5ms/step - loss: 49455.8750 - mae: 49455.8750 - val_loss: 50222.4219 - val_mae: 50222.4219
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 49450.6992 - mae: 49450.6992 - val_loss: 50228.3242 - val_mae: 50228.3242
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 49446.7734 - mae: 49446.7734 - val_loss: 50219.9844 - val_mae: 50219.9844
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 49441.7109 - mae: 49441.7109 - val_loss: 50224.0234 - val_mae: 50224.0234
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 49438.2539 - mae: 49438.2539 - val_loss: 50216.3398 - val_mae: 50216.3398
Epoch 68/100
250/250 [==============================] - 1s 5ms/step - loss: 49431.2188 - mae: 49431.2188 - val_loss: 50216.2305 - val_mae: 50216.2305

In [25]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [26]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 11224), started 0:01:37 ago. (Use '!kill 11224' to kill it.)

In [27]:
## Evaluate model on the test data
test_loss, test_mae=model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50204.6641 - mae: 50204.6641
Test MAE: 50204.6640625

In [28]:
model.save('regression_model.h5')

f:\ML_project\udemy_ml_course\dl_projects\ann_bankChurn\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(